html {
  min-height: 100vh;
}

body {
  margin: 0;
  height: 100vh;
  font-family: 'Roboto', sans-serif
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.heading {
  font-weight: 700;
}
.subheading {
  font-weight: 300;
}